<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated videodsl -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="video.presentation.VideoModelWizardID"
            name="%_UI_VideoModelWizard_label"
            class="video.presentation.VideoModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/VideoModelFile.gif">
         <description>%_UI_VideoModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated videodsl -->
      <editor
            id="video.presentation.VideoEditorID"
            name="%_UI_VideoEditor_label"
            icon="icons/full/obj16/VideoModelFile.gif"
            extensions="video"
            class="video.presentation.VideoEditor"
            contributorClass="video.presentation.VideoActionBarContributor">
      </editor>
   </extension>

</plugin>
